<div class="content p-1">
    <div class="list-group-item">

        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Categorias de Pagamentos</h2>
            </div>

            <div class="p-2">
                <a href="/admin/cad-cat-pagamento">
                    <button class="btn btn-outline-success btn-sm">
                        Cadastrar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>